
*.ll linguist-vendored
*.llvm linguist-vendored
*.bc linguist-vendored

**/*.cs linguist-language=C#
**/*.cs linguist-detectable=true

**/*.sql linguist-language=SQL
**/*.sql linguist-detectable=true
