# Auto detect text files and perform LF normalization
* text=auto

# Üçüncü parti klasörleri yok say
vendor/** linguist-vendored
third_party/** linguist-vendored
build/** linguist-generated

# Bazı dosyaların dilini zorla belirle
*.cs linguist-language=C#

